.elementor-8 .elementor-element.elementor-element-590b9088:not(.elementor-motion-effects-element-type-background), .elementor-8 .elementor-element.elementor-element-590b9088 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFF4ED;}.elementor-8 .elementor-element.elementor-element-590b9088{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8 .elementor-element.elementor-element-590b9088 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8 .elementor-element.elementor-element-b5f93d6 .elementor-spacer-inner{height:5px;}.elementor-8 .elementor-element.elementor-element-84fc906 .elementor-spacer-inner{height:25px;}.elementor-8 .elementor-element.elementor-element-c4b9203 .elementor-heading-title{color:#642714;font-family:"Scope One", Sans-serif;font-weight:600;}.elementor-8 .elementor-element.elementor-element-d824a18 .elementor-spacer-inner{height:5px;}.elementor-8 .elementor-element.elementor-element-5c568593{color:#642714;font-family:"Scope One", Sans-serif;font-weight:400;}.elementor-8 .elementor-element.elementor-element-8594ecd .elementor-spacer-inner{height:25px;}.elementor-8 .elementor-element.elementor-element-272995d .elementor-spacer-inner{height:5px;}/* Start custom CSS for text-editor, class: .elementor-element-5c568593 */a.button.thwmscf-cart-url{
    background-color:#FFDFC8 !important;
    color:#642714 !important;
}

.woocommerce-info{
    background-color:#FFF4ED !important;
    color:#642714 !important;
}

.woocommerce-notices-wrapper{
    background-color:#642714 !important;
}

.optional{
    display:none !important;
}

#e_deliverydate_field{
    margin-top:-20px !important;
    margin-bottom:10px !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-590b9088 */button{
    background-color:#FFDFC8 !important;
    color:#642714 !important;
}/* End custom CSS */